*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inlinepfp{
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.indivpost{
    background-color: lightblue;
    padding: 6px;
    border-radius: 15px;
}

.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.reaction{
    background: none;
    border: none;
}

.reaction:hover {
  color: blue;
}

.sidebar{
    color: white;
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    min-height: 100vh;
    align-items: baseline;
}

.sidebar li{
    display: flex;
    list-style-type: none;
    padding-right: 10px;
}

body{
    display: flex;
    margin: 0;
    background:url(assets/doctile2.png);
}
.right{
    display: flex;
    flex-direction: column;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    background: orange;
}
.quickbuttons button{
    background: blue;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    font-size: large;
}
.headerprofile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.quickbuttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hello{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input{
    width:400px
}
.main{

    height: 100vh;
}
#posttitle{
    background-color: lightgray;
    width: 500px;
}
.announcements{
    background-color: lightblue;
    padding: 6px;
    border-radius: 15px;
}
.frens{
    background-color: lightblue;
    padding: 6px;
    border-radius: 15px;
}
.me{
    display: flex;
    align-items: center;
}